java-service:
  replicaCount: 1
  fullnameOverride: "hello-service"
  image:
    repository: "hycomcminternal.azurecr.io/hello-service" # Będzie ustawiane przez workflow
    tag: "db1c02e" # Placeholder - będzie nadpisywane
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 8080
  resources:
    requests:
      memory: "256Mi"
      cpu: "100m"
    limits:
      memory: "512Mi"
      cpu: "500m"
