java-service:
  replicaCount: 2
  fullnameOverride: "greeting-service"
  image:
    repository: ""      # Będzie ustawiane przez workflow
    tag: "latest"       # Placeholder - będzie nadpisywane
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 8080
  resources:
    requests:
      memory: "512Mi"
      cpu: "200m"
    limits:
      memory: "1Gi"
      cpu: "1000m"

